{% extends "layout.html" %}
{% block head %}
<title> My ToDo List</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">My ToDo List</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table class="table table-sm table-bordered table-striped table-hover table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Task</th>
                <th>Status</th>
            </tr>
        </thead> 
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.date_created.time()|dt }}</td>
                <td>{{ task.content }}</td>
                <td>
                    <form action="/" method="POST">
                        <input type="checkbox" name="done" id="done" onclick="window.location.assign('/done/{{task.id}}')">
                    </form>
                    
                </td>
               
                
            </tr>
            {% endfor %}

        </tbody>
        
        
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}